
@media (max-width: 1200px)
	.container
		max-width: 960px
	.main
		&-description
			width: 500px
		&__card
			margin-right: 0
	.recommend
		&__card
			flex-direction: column
			align-items: center
			text-align: center
			width: 268px
			padding: 24px
		&-image
			margin-right: 0
		&__info
			&-title
				margin-bottom: 0
			&-genre
				margin-bottom: 20px
			&-bottom
				margin-top: 18px
@media (min-width: 993px)
	.button
		transition: .2s linear
		&--blue
			&:hover
				background-image: linear-gradient(to right, #EC1F46 0%, $gold 51%, #EC1F46 100%)
				background-size: 200% auto
				background-position: right center
		&--white
			&:hover
				background-image: linear-gradient(to right, #EC1F46 0%, $gold 51%, #EC1F46 100%)
				background-size: 200% auto
				background-position: right center
				border-color: transparent
				color: $light

	a
		transition: color 0.15s ease
		&:hover
			color: $gold
