
@media (max-width: 1200px)
	.container
		max-width: 960px
	.main
		&-description
			width: 500px
		&__card
			margin-right: 0
	.books
		&__wrapper
			flex-wrap: wrap
	.recommend
		width: 100%
		justify-content: space-between
		margin-bottom: 60px
		margin-right: 0
		&__card
			text-align: center
			flex-direction: column
			align-items: center
			width: 295px
			padding: 24px
			&:nth-child(4)
				margin-bottom: 0
		&-image
			margin-right: 0
		&__info
			&-genre
				margin-bottom: 20px
			&-bottom
				margin-top: 18px
	.top
		width: 100%
		&__wrapper
			padding: 24px 15px
			flex-direction: row
			justify-content: space-between
		&__card
			text-align: center
			flex-direction: column
			width: 220px
		&-image
			margin-right: 0
			margin-bottom: 13px
			align-self: center
		&__info
			align-items: center
			padding-top: 0
			padding-left: 0
		&-line
			width: 100%
		&-link
			align-self: center
	.sections
		&__slider
			&-item
				padding: 30px 6px
			&-button
				top: 40%
				&--prev
					left: -15px
				&--next
					right: -15px
		&-image
			&-wrapper
				margin-bottom: 30px
		&__title
			font-size: 18px
			line-height: 1.6
	.story
		&-wrapper
			width: 900px
		&__video
			&-one
				width: 280px
		&__video
			&-two
				width: 280px
		&__video
			&-three
				width: 280px
	.publishers
		&__wrapper
			width: auto
			grid-column-gap: 80px
			grid-row-gap: 40px
	.blog
		&__items
			grid-template-columns: 450px 1fr
			grid-template-rows: repeat(3, 1fr)
			grid-gap: 20px
		&__card
			&-image
				&-main
					width: auto
					margin-bottom: 27px
					width: auto
					height: 324px
				&-other
					margin-right: 25px
			&-picture
				object-fit: cover
				width: 100%
				height: 100%
			&-info
				&-main
					width: 430px
				&-other
					width: 200px
			&-title
				font-size: 16px
				line-height: 1.6
				&-main
					font-size: 20px
					line-height: 1.6
			&-description
				font-size: 14px
				line-height: 1.6
			&-date
				margin-bottom: 10px
				font-size: 12px
	.subscribe
		&__wrapper
			padding: 60px 40px 80px
		&__shape
			width: 427px
		&__input
			padding-right: 160px
		&__button
			min-width: 150px
	.footer
		&__main
			margin-right: 60px
		&__product
			margin-right: 60px
		&__service
			margin-right: 60px
		&__company
			margin-right: 70px
@media (min-width: 993px)
	.button
		transition: .2s linear
		&--blue
			&:hover
				background-image: linear-gradient(to right, #EC1F46 0%, $gold 51%, #EC1F46 100%)
				background-size: 200% auto
				background-position: right center
		&--white
			&:hover
				background-image: linear-gradient(to right, #EC1F46 0%, $gold 51%, #EC1F46 100%)
				background-size: 200% auto
				background-position: right center
				border-color: transparent
				color: $light
		&-buy
			&:hover
				background-color: $gold
				color: $light
	a
		transition: color 0.15s ease
		&:hover
			color: $gold
