@media (max-width: 576px)
	.main
		text-align: center
		&__info
			margin-bottom: 40px
		&-title
			width: 100%
			font-weight: bold
			font-size: 32px
			line-height: 40px
			margin-bottom: 23px
		&-name
			font-size: 16px
			line-height: 24px
			margin-bottom: 33px
		&-description
			font-size: 16px
			line-height: 23px
			margin-bottom: 18px
		&__button
			&-buy, &-read
				height: 40px
				width: 176px
				padding: 9px 20px
				font-size: 16px
				line-height: 22px
			&-read
				padding: 7px 27px
		&__book
			&-image
				width: 250px
				height: 374px
	.cards
		&__title
			font-size: 22px
			line-height: 32px
	.unreleased
		padding: 49px 0 50px
		&__wrapper
			margin-bottom: 87px
		&__title
			margin-bottom: 41px
			font-family: Roboto Condensed
			font-style: normal
			font-weight: bold
			font-size: 28px
			line-height: 36px
			text-align: center
		&__slider
			width: 440px
			margin: 0 auto
			&-button
				top: auto
				bottom: -89px
				width: 48px
				height: 48px
				&--prev
					right: 53%
				&--next
					left: 53%
	.author
		&__container
			width: 94%
		&__items
			grid-template-rows: 310px 1fr
		&__title
			font-size: 28px
			line-height: 36px
		&__description
			width: 280px
		&__bottom
			align-items: center
			flex-direction: column
			text-align: center
		&__name
			font-weight: 500
			font-size: 16px
			line-height: 20px
			margin-bottom: 6px
		&__about
			font-size: 12px
			line-height: 20px
		&__info
			margin-bottom: 16px
		&__video
			&-wrapper
				margin-bottom: 16px
			&-main
				background-image: url(../img/author-1-s.jpg)
			&-icon
				width: 21px
				height: 27px
				&--main
					width: 56px
					height: 56px
		&__favorite
			margin-top: -4px
	.button
		width: auto
		&-favorite
			width: 14px
			height: 13px
	.publishers
		padding: 37px 0 57px
		&__wrapper
			align-items: center
			grid-template-columns: repeat(3, 1fr)
			grid-column-gap: 20px
			grid-row-gap: 20px
		&__title
			width: 280px
		&__image
			&:nth-child(n+10)
				display: none
	.blog
		position: relative
		padding: 56px 0 48px
		&__wrapper
			padding-left: 5px
		&__head
			justify-content: center
			margin-bottom: 48px
		&__title
			font-size: 28px
			line-height: 36px
		&__card
			&-title
				&-main
					font-size: 16px
					line-height: 20px
			&-info
				width: 240px
			&-description
				font-size: 12px
				line-height: 24px
		&__button
			&--visible
				display: none
			&--hidden
				display: inline-block
				margin-top: 35px
				padding: 10px 47px
				font-family: Roboto Condensed
				font-style: normal
				font-weight: bold
				font-size: 14px
				line-height: 20px
				text-align: center
				letter-spacing: 0.175px
