@media (max-width: 768px)
	body
		padding-top: 88px
	.container
		width: 90%
	.header
		padding: 30px 0
		&--fixed
			position: fixed
			top: 0
			left: 0
			right: 0
			z-index: 10
			background-color: $light
		&__menu
			&--hidden
				display: none
			&--burger
				padding-top: 30px
				flex-direction: column
				align-items: end
			&-nav
				flex-direction: column
				text-align: right
				margin-right: 0
				margin-bottom: 40px
			&-item
				margin-bottom: 10px
		&__burger-menu
			&--visible
				display: block
				position: fixed
				top: 88px
				left: 0
				right: 0
				bottom: 0
				background-color: $light
	.burger-menu
		&__button
			display: flex
	.main
		padding: 36px 0
