@media (max-width: 768px)
	body
		padding-top: 88px
	.container
		width: 90%
	.header
		padding: 30px 0
		&--fixed
			position: fixed
			top: 0
			left: 0
			right: 0
			z-index: 1000
			background-color: $light
		&__menu
			align-items: flex-end
			&--hidden
				display: none
			&--burger
				padding-top: 30px
				flex-direction: column
			&-nav
				flex-direction: column
				text-align: right
				margin-right: 0
				margin-bottom: 40px
			&-item
				margin-bottom: 10px
		&__burger-menu
			&--visible
				display: block
				position: fixed
				top: 88px
				left: 0
				right: 0
				bottom: 0
				z-index: 1000
				background-color: $light
	.burger
		&-button
			display: flex
	.main
		padding: 36px 0
	.recommend
		&__wrapper
		&__card
			flex-basis: 48%
			flex-direction: column
			align-items: center
			text-align: center
			padding: 32px 18px
		&-image
			margin-right: 0
		&__info
			text-align: center
	.top
		&__card
			flex-direction: column
			flex-basis: 48%
		&__info
			text-align: center
			align-items: center
	.sections
		&__slider
			&-button
				top: 50%
	.unreleased
		&__slider
			margin: 0 auto
			width: 480px
	.author
		&__head
			margin-top: 0
			margin-bottom: 35px
			flex-direction: column
			align-items: center
		&__title
			font-size: 36px
			margin-bottom: 23px
		&__description
			width: 460px
			text-align: center
			height: auto
			font-size: 18px
			line-height: 25px
		&__items
			grid-template-columns: repeat(2, 1fr)
			grid-template-rows: 360px 286px
		&__video
			&-main
				grid-column: span 2
			&:last-child
				display: none
		&-wrap
			display: none
	.publishers
		&__title
			margin-left: auto
			margin-right: auto
			font-size: 24px
			line-height: 30px
			width: 280px
			margin-bottom: 27px
		&__wrapper
			align-items: center
			grid-template-columns: repeat(4, 1fr)
			grid-column-gap: 30px
			grid-row-gap: 30px
		&__image
			margin: auto
