.author
	padding: 76px 0 100px
	&__wrapper
		width: 1005px
		margin: 0 auto
	&__head
		display: flex
		justify-content: space-between
		margin-top: 28px
	&__title
		width: 327px
		font-family: Roboto Condensed
		font-style: normal
		font-weight: bold
		font-size: 48px
		line-height: 60px
		letter-spacing: 0.2px
	&__description
		width: 383px
		height: 118px
		margin-right: 35px
		font-size: 18px
		line-height: 32px
		overflow: auto
		scrollbar-width: none
		&::-webkit-scrollbar
			width: 0px
			background: rgba(255, 255, 255, 0.0)
.button
	&-favorite
		width: 14px
		height: 21px
		fill: $blue
