.recommend
	max-width: 751px
	&__title
		margin-bottom: 30px
		font-family: Roboto Condensed
		font-style: normal
		font-weight: bold
		font-size: 32px
		line-height: 40px
		letter-spacing: 0.2px
	&__wrapper
		display: flex
		flex-wrap: wrap
		justify-content: space-between
		border-radius: $radius
	&__card
		display: flex
		flex-basis: 48%
		margin-bottom: 32px
		padding: 10px
		border: 1px solid $border
	&-image
		width: 160px
		height: 238px
		margin-right: 20px
		object-fit: cover
		border-radius: $radius
	&__info
		&-title
			padding: 13px 0
			margin-bottom: 3px
			font-family: Roboto
			font-style: normal
			font-weight: 500
			font-size: 22px
			line-height: 32px
			letter-spacing: 0.2px
		&-genre
			margin-bottom: 24px
			font-size: 16px
			line-height: 22px
		&-price
			font-family: Roboto Condensed
			font-style: normal
			font-weight: bold
			font-size: 20px
			line-height: 24px
			letter-spacing: 0.2px
			color: $blue
		&-bottom
			margin-top: 24px
			display: flex
			align-items: center
		&-button
			margin-right: 22px
			padding: 7px 20px
			background: $primary
			border-radius: 2000px
			font-weight: bold
			font-size: 16px
			line-height: 22px
			color: $light
		&-heart
			margin-top: 6px
			width: 18px
			height: 21px
			background: url(/img/heart.svg) no-repeat center center
			background-size: contain
			&:active
				// background-color: $gray2
