.recommend
	margin-right: 31px
	width: 751px
	&__title
		margin-bottom: 30px
	&__wrapper
		display: flex
		justify-content: space-between
		flex-wrap: wrap
		margin-bottom: 27px
		border-radius: $border
	&__card
		margin-right: 1px
		width: 358px
		display: flex
		margin-bottom: 32px
		padding: 10px
		border: 1px solid $edge
		&:nth-child(5), &:nth-child(6)
			margin-bottom: 0
	&-image
		width: 160px
		height: 238px
		margin-right: 20px
		object-fit: cover
		border-radius: $border
	&__info
		&-title
			margin-top: 13px
			margin-bottom: 16px
			// overflow: auto
			// height: 64px
		&-genre
			margin-bottom: 24px
			font-size: 16px
			line-height: 22px
		&-bottom
			margin-top: 24px
			margin-bottom: 13px
			display: flex
			align-items: center
		&-button
			margin-right: 22px
		&-heart
			position: relative
			width: 18px
			height: 21px
	&-link
		display: flex
		justify-content: center
		max-width: 100%
		padding: 26px
		align-items: center
		font-family: Roboto Condensed
		font-style: normal
		font-weight: bold
		font-size: 16px
		line-height: 20px
		text-align: center
		text-transform: uppercase
		color: $blue
		background-color: rgba($blue, 0.1)
		border-radius: $border
	.button
		&-like
			position: absolute
			top: 2px
			left: 0
			width: 18px
			height: 21px
			fill: $gray2
			&:hover
				fill: $gold
			&:active
				fill: red
