.recommend
	margin-right: 31px
	max-width: 751px
	&__title
		margin-bottom: 30px
	&__wrapper
		display: flex
		justify-content: space-between
		flex-wrap: wrap
		margin-bottom: 27px
		border-radius: $border
	&__card
		margin-right: 1px
		width: 358px
		display: flex
		margin-bottom: 32px
		padding: 10px
		border: 1px solid $edge
		&:nth-child(5), &:nth-child(6)
			margin-bottom: 0
	&-image
		width: 160px
		height: 238px
		margin-right: 20px
		object-fit: cover
		border-radius: $border
	&__info
		&-title
			padding: 13px 0
			margin-bottom: 3px
		&-genre
			margin-bottom: 24px
			font-size: 16px
			line-height: 22px
		&-bottom
			margin-top: 24px
			display: flex
			align-items: center
		&-button
			margin-right: 22px
		&-heart
			margin-top: 6px
			width: 18px
			height: 21px
			background: url(/img/heart.svg) no-repeat center center
			background-size: contain
	&-link
		display: flex
		justify-content: center
		max-width: 100%
		padding: 26px
		align-items: center
		font-family: Roboto Condensed
		font-style: normal
		font-weight: bold
		font-size: 16px
		line-height: 20px
		text-align: center
		text-transform: uppercase
		color: $blue
		background-color: rgba($blue, 0.1)
		border-radius: $border
