.top
	&__wrapper
		display: flex
		flex-direction: column
		flex-wrap: wrap
		padding: 24px 22px 26px 24px
		background-color: rgba($gray3, 0.1)
		border-radius: $border
	&__title
		margin-bottom: 30px
	&__card
		display: flex
		width: 314px
		margin-bottom: 35px
		&:nth-child(4)
			margin-bottom: 24px
	&-image
		width: 120px
		height: 177.5px
		margin-right: 17px
		object-fit: cover
		border-radius: $border
	&__info
		padding: 9px 0px 9px 9px
		display: flex
		flex-direction: column
		&-title
			margin-bottom: 15px
			overflow: auto
			max-height: 64px
		&-price
			margin-bottom: 22px
	&-line
		margin: 0
		width: 312px
		margin-bottom: 25px
		border: 1px solid $edge
	&-link
		width: 100%
		font-family: Roboto Condensed
		font-style: normal
		font-weight: bold
		font-size: 16px
		line-height: 20px
		text-align: center
		text-transform: uppercase
		color: $blue
