.top
	width: 360px
	&__wrapper
		display: flex
		flex-direction: column
		padding: 24px 24px 0 24px
		background-color: rgba($gray3, 0.1)
		border-radius: $border
	&__title
		margin-bottom: 30px
	&__card
		display: flex
		margin-bottom: 36px
	&-image
		width: 120px
		height: 178px
		margin-right: 17px
		object-fit: cover
		border-radius: $border
	&__info
		padding: 9px 0px 9px 9px
		display: flex
		flex-direction: column
		&-title
			margin-bottom: 15px
		&-price
			margin-bottom: 22px
